*{
	margin: 0;
	padding: 0;
}
body{
	background-color: black;
	font-family: sans-serif;
}
.shapka{
	margin-top: 0px;
	margin-left: 125px;    
}
.facebook {
	background-image: url(facebook.png); 
	filter: invert(100%); 
	padding-top: 25px;
}
.facebook:hover{
	background-color: #ff00ff;	
}
.instagram {
	background-image: url(instagram.png);  
	padding-top: 22px;
	filter: invert(100%); 
	margin-left: 15px;
	}
.instagram:hover{
	background-color: #ff00ff;	
}
.twitter {
	background-image: url(twitter.png);  
	padding-top: 25px;
	filter: invert(100%); 
	margin-left: 15px; 
}
.twitter:hover{
	background-color: #ff00ff;	
}
.linkedin{
	background-image: url(linkedin.png);
	padding-top: 15px;
	margin-left: 15px;
	filter: invert(100%);
}
.linkedin:hover{
	background-color: #ff00ff;	
}
.log{
	margin-left: 600px;
}
.lo{
	margin-top: -45px;
	display: block;
}
.contact{
	display: block;
	margin-top: -75px;
	margin-left: 75%;
	position: relative;
}
.textt{
	margin-left: 170px;
	position: relative;
}
.text1{
	color: white;
	margin-top: 170px;
	font: Arial, Helvetica;
	font-size: 55px;
}
.text2{
	color: white;
	margin-top: 20px;
	font: Arial, Helvetica;
	font-size: 30px;
}
.girl{
	margin-top: -53%;
	margin-left: -250px;
	z-index: 2;
}
.kraski{
	position: absolute;
	width: 220%;
	margin-top: -310%;
	margin-left: -1100px;
	z-index: -1;
}
.guit{
	margin-top: -310%;
	margin-left: -6%;
}
.te{
	width: 500px;
	margin-left: 60%;
	margin-top: -239%;
}
.tx{
	color: white;
	font: Arial, Helvetica;
	font-size: 50px;
	position: relative;
}
.tx1{
	color: lime;
	font: Arial, Helvetica;
	font-size: 30px;
	position: relative;
}
.tx2{
	color: white;
	font: Arial, Helvetica;
	position: relative;
}
.line{
	position: absolute;
	z-index: -1;
	width: 140%;
	margin-left: -100px;
	margin-top: -45%;
}
.miach{
	margin-top: -62%;
	margin-left: -7%;
	width: 85%;
}
.tex{
	color: white;
	font: Arial, Helvetica;
	margin-top: -119%;
	margin-left: 10%;
	position: relative;
}
.tex1{
	color: lime;
	font: Arial, Helvetica;
	margin-left: 10%;
	margin-top: 3px;
	position: relative;
}
.bottle{
	margin-top: -130%;
	width: 95%;
}
.tex2{
	color: white;
	font: Arial, Helvetica;
	margin-top: -142%;
	margin-left: 35%;
	position: relative;
}
.tex3{
	color: lime;
	font: Arial, Helvetica;
	margin-left: 35%;
	margin-top: 3px;
	position: relative;
}
.tex4{
	color: white; 
	font: Arial, Helvetica;
	width: 370px;
	margin-left: 35%;
	margin-top: 8px;
	position: relative;
}
.mia{
	position: relative;
}
.but{
	position: relative;
}
.coffee{
	width: 13%;
	display: block;
	margin-top: -42%;
	margin-left: 55%;
}
.tex5{
	color: white;
	font: Arial, Helvetica;
	margin-left: 58%;
	position: relative;
}
.tex6{
	color: lime;
	font: Arial, Helvetica;
	margin-left: 58%;
	margin-top: 5px;
	position: relative;
}
.co{
	position: relative;
}
.knopki{
	width: 3%;
	display: block;
	margin-left: 80%;
	margin-top: -310px;
	position: relative;
}
.kras{
	width: 80%;
	margin-top: -70%;
	margin-left: -335px;
	z-index: -2;
}
.shoe{
	width: 80%;
	margin-top: -203%;
}
.tex7{
	color: white;
	font: Arial, Helvetica;
	margin-top: -97%;
	margin-left: 480px;
	position: relative;
}
.tex8{
	color: lime;
	font: Arial, Helvetica;
	margin-top: -37px;
	margin-left: 655px;
	position: relative;
}
.tex9{
	color: white;
	font: Arial, Helvetica;
	float: left;
	margin: -10px 7px 7px 500px;
	width: 300px;
	position: relative;
}
.info{
	position: relative;
	margin-top: 60px;
	margin-left: 600px;
	display: block;
}
.piatno{
	width: 99%;
	margin-top: -55%;
	margin-left: 50%;
}
.piatno2{
	width: 99%;
	margin-top: -42%;
	margin-left: -50%;
}