*{
	margin: 0;
	padding: 0;
}
body{
	background-color: black;
	font-family: sans-serif;
}
.shapka{
	margin-top: 0px;
	margin-left: 125px;    
}
.facebook {
	background-image: url(facebook.png); 
	filter: invert(100%); 
	padding-top: 25px;
}
.facebook:hover{
	background-color: #ff00ff;	
}
.instagram {
	background-image: url(instagram.png);  
	padding-top: 22px;
	filter: invert(100%); 
	margin-left: 15px;
	}
.instagram:hover{
	background-color: #ff00ff;	
}
.twitter {
	background-image: url(twitter.png);  
	padding-top: 25px;
	filter: invert(100%); 
	margin-left: 15px; 
}
.twitter:hover{
	background-color: #ff00ff;	
}
.linkedin{
	background-image: url(linkedin.png);
	padding-top: 15px;
	margin-left: 15px;
	filter: invert(100%);
}
.linkedin:hover{
	background-color: #ff00ff;	
}
.log{
	margin-left: 600px;
}
.lo{
	margin-top: -45px;
	display: block;
}
.contact{
	display: block;
	margin-top: -75px;
	margin-left: 75%;
	position: relative;
}
.textt{
	margin-left: 170px;
	position: relative;
}
.text1{
	color: white;
	margin-top: 170px;
	font: Arial, Helvetica;
	font-size: 55px;
}
.text2{
	color: white;
	margin-top: 20px;
	font: Arial, Helvetica;
	font-size: 30px;
}
.girl{
	margin-top: -53%;
	margin-left: -250px;
	z-index: 2;
}
.kraski{
	position: absolute;
	width: 220%;
	margin-top: -310%;
	margin-left: -1100px;
	z-index: -1;
}
.guit{
	margin-top: -310%;
	margin-left: -6%;
}
.te{
	width: 500px;
	margin-left: 60%;
	margin-top: -239%;
}
.tx{
	color: white;
	font: Arial, Helvetica;
	font-size: 50px;
}
.tx1{
	color: lime;
	font: Arial, Helvetica;
	font-size: 30px;
}
.tx2{
	color: white;
	font: Arial, Helvetica;
}
.line{
	position: absolute;
	z-index: -1;
	width: 140%;
	margin-left: -100px;
	margin-top: -45%;
}