*{
	margin: 0;
	padding: 0;
}
body{	
	background-color: black;
	font-family: sans-serif;
}
.sait{
	height: 500px;
}
.shapka{
	margin-top: 0px;
	margin-left: 125px;    
}
.facebook {
	background-image: url(facebook.png); 
	filter: invert(100%); 
	padding-top: 25px;
	position: relative;
}
.facebook:hover{
	background-color: #ff00ff;	
}
.instagram {
	background-image: url(instagram.png);  
	padding-top: 22px;
	filter: invert(100%); 
	margin-left: 15px;
	}
.instagram:hover{
	background-color: #ff00ff;	
}
.twitter {
	background-image: url(twitter.png);  
	padding-top: 25px;
	filter: invert(100%); 
	margin-left: 15px; 
}
.twitter:hover{
	background-color: #ff00ff;	
}
.linkedin{
	background-image: url(linkedin.png);
	padding-top: 15px;
	margin-left: 15px;
	filter: invert(100%);
}
.linkedin:hover{
	background-color: #ff00ff;	
}
.log{
	margin-left: 600px;
}
.lo{
	position: relative;
	display: block;
	bottom: 50px;
}
img{
	position: absolute;
}
.contact{
	display: block;
	margin-left: 75%;
	position: relative;
	bottom: 125px;
}
.textt{
	margin-left: 170px;
	position: relative;
	bottom: 155px;
}
.text1{
	color: white;
	margin-top: 170px;
	font: Arial, Helvetica;
	font-size: 55px;
}
.text2{
	color: white;
	margin-top: 20px;
	font: Arial, Helvetica;
	font-size: 30px;
}
.girl{
	position: relative;
	bottom:640px;
	left: 550px;
	z-index: -1;
	width: 80%;
}
.kraski{
	position: absolute;
	bottom: 1450px;
	right: 960px;
	position: relative;
	z-index: -2;
	width: 4000px;
}
.cont{
	width: 100%;
	height: 1000px;
}
.guit{
	position: relative;
	width: 80%;
	right: 200px;
	bottom: 1600px;
	display: inline;
}
.te{
	width: 500px;
	position: relative;
	margin-left: 60%;
	bottom: 2250px;
}
.tx{
	color: white;
	font: Arial, Helvetica;
	font-size: 50px;
	position: relative;
}
.tx1{
	color: lime;
	font: Arial, Helvetica;
	font-size: 30px;
	position: relative;
}
.tx2{
	color: white;
	font: Arial, Helvetica;
	position: relative;
}
.line{
	position: relative;
	z-index: -1;
	width: 120%;
	bottom: 2970px;
	right: 100px;
}
.miach{
	position: absolute;
	width: 85%;
}
.tex{
	color: white;
	font: Arial, Helvetica;
	position: relative;
	margin-left: 10%;
	position: relative;
}
.tex1{
	color: lime;
	font: Arial, Helvetica;
	margin-left: 10%;
	margin-top: 3px;
	position: relative;
}
.bottle{
	position: relative;
	width: 95%;
}
.tex2{
	color: white;
	font: Arial, Helvetica;
	position: relative;
	margin-left: 35%;
	position: relative;
}
.tex3{
	color: lime;
	font: Arial, Helvetica;
	margin-left: 35%;
	margin-top: 3px;
	position: relative;
}
.tex4{
	color: white; 
	font: Arial, Helvetica;
	width: 370px;
	margin-left: 35%;
	margin-top: 8px;
	position: relative;
}
.mia{
	position: relative;
}
.but{
	position: relative;
}
.coffee{
	width: 13%;
	display: block;
	position: relative;
	margin-left: 55%;
}
.tex5{
	color: white;
	font: Arial, Helvetica;
	margin-left: 58%;
	position: relative;
}
.tex6{
	color: lime;
	font: Arial, Helvetica;
	margin-left: 58%;
	margin-top: 5px;
	position: relative;
}
.co{
	position: relative;
}
.knopki{
	width: 3%;
	display: block;
	margin-left: 80%;
	position: relative;
}
.kras{
	width: 80%;
	position: relative;
	z-index: -2;
}
.shoe{
	width: 80%;
	position: relative;
}
.tex7{
	color: white;
	font: Arial, Helvetica;
	position: relative;
	margin-left: 480px;
}
.tex8{
	color: lime;
	font: Arial, Helvetica;
	margin-left: 655px;
	position: relative;
}
.tex9{
	color: white;
	font: Arial, Helvetica;
	float: left;
	margin: -10px 7px 7px 500px;
	width: 300px;
	position: relative;
}
.info{
	position: relative;
	margin-top: 60px;
	margin-left: 600px;
	display: block;
}
.piatno{
	width: 99%;
	position: relative;
	margin-left: 50%;
}
.piatno2{
	width: 99%;
	position: relative;
}
.form{
	margin-top: 500px;
	position: relative;
	width: 45%;
	margin: auto;
	border: none;
}
form div {
	clear: left;
	margin: 0;
	padding: 0;
	padding-top: 0.6em;
}
.formtext{
	color: white;
	font: 2.2em Arial, Helvetica;
	margin-left: 300px;
	position: relative;
	margin-top: 170px;
}
.formtext2{
	color: lime;
}
form div label {
	float: left;
	width: 47%;
	color: white;
	font: 0.7em Arial, Helvetica;
	border-bottom: 2px solid green;
	letter-spacing: 6px;
	padding-bottom: 8px;
}
.fullname{
	width: 46%;
	margin-left: 6.5%;
	background-color: transparent;
	border: none;
	border-bottom: 2px solid green;
	padding-bottom: 10px;	
	letter-spacing: 4px;
	padding-bottom: 8px;	
	color: white;
	font: 1.1em Arial, Helvetica;
}
.celular{
	width: 47%;
	background-color: transparent;
	border: none;
	border-bottom: 2px solid green;
	padding-bottom: 5px;	
	letter-spacing: 4px;
	padding-bottom: 8px;	
	color: white;
	font: 1.1em Arial, Helvetica;

}
.select{
	background-color: transparent;
	width: 46%;
	color: rgb(126, 125, 125);
	border: none;
	border-bottom: 2px solid green;
	margin-left: 6%;
	font: 1.1em Arial, Helvetica, sans-serif;
	letter-spacing: 4px;
	padding-bottom: 8px;
}
.select2{
	background-color: transparent;
	width: 47%;
	color:  rgb(126, 125, 125);
	border: none;
	border-bottom: 2px solid green;
	font: 1.1em Arial, Helvetica, sans-serif;
	letter-spacing: 4px;
	padding-bottom: 8px;	
}
.fullname2{
	width: 46%;
	margin-left: 6%;
	background-color: transparent;
	border: none;
	border-bottom: 2px solid green;
	padding-bottom: 5px;	
	letter-spacing: 4px;
	padding-bottom: 8px;	
	color: white;
	font: 1.1em Arial, Helvetica, sans-serif;
	}
.comment{
	width: 100%;
	background-color: transparent;
	border: none;
	border-bottom: 2px solid green;
	padding-bottom: 5px;	
	letter-spacing: 4px;
	padding-bottom: 8px;	
	color: white;
	font: 1.1em Arial, Helvetica, sans-serif;
}
.accept{
	color: gray;
	text-align: center;
	border-color: green;
}
.accept1{
	text-decoration: underline;
}
.knop{
	margin-left: 300px;
}
.formm{
	position: relative;
}
.kr{
	position: relative;
}
.hrr{
	position: relative;
	position: relative;
	height: 0.5px;
	background: radial-gradient(lime, black);
	border: 0;
	opacity: 0.4;
	width: 85%;
	margin-left: 7%;
}
.sub{
	margin-left: 38%;
	margin-top: 60px;
}
.sig{
	color: lime;
	display: inline-block;
	margin-top: 80px;
	margin-left: 460px;
	font: Arial, Helvetica;
}
.tc{
	margin-left: 170px;
}
.niz{
	margin-top: 15px;
}
.face{
	filter: invert(100%); 
	margin-left: 162px;
}
.inst{
	filter: invert(100%); 
	margin-left: 15px;
}
.twit{
	filter: invert(100%); 
	margin-left: 15px;
}
.link{
	filter: invert(100%); 
	margin-left: 15px;
}
.face:hover{
	filter: invert(0%); 
	background-color: lime;
}
.inst:hover{
	filter: invert(0%); 
	background-color: lime;
}
.twit:hover{
	filter: invert(0%); 
	background-color: lime;
}
.link:hover{
	filter: invert(0%); 
	background-color: lime;
}
.loko{
	color: white;
	display: inline-block;
}
.tt{
	margin-left: 406px;
}
.ttt{
	margin-left: 330px;
}
.goog{
	color: white;
	margin-left: 4px;
}
.waz{
	margin-left: 6px;
	color: white;
}
.hr1{
	margin-top: 80px;
	position: relative;
	height: 1.5px;
	background: radial-gradient(lime, black);
	border: 0;
	opacity: 0.4;
	width: 85%;
	margin-left: 7%;
}
.en{
	display: inline-block;
}
.end{
	margin-top: 20px;
	color: gray
}
.e1{
	color: gray;
	margin-left: 160px;
}
.e2{
	margin-left: 360px;
}
.e3{
	margin-left: 300px;
}
.pi1{
	position: relative;
}
.pi2{
	position: relative;
}
.pi3{
	position: relative;
	width: 30%;
	margin-left: 75%;
	display: block;
}